<div class="uk-section uk-section-secondary">
    <div class='uk-container'>
        <div class="uk-child-width-1-2" uk-grid="">
            <div>
                <h3 class="uk-text-bold">CUSTOMER CARE</h3>
                <div class="uk-column-1-3">
                    <ul class="uk-list">
                        <li>
                            <a href="/" class="uk-link-muted">Contact Us</a>
                        </li>
                        <li>
                            <a href="/" class="uk-link-muted">1-800-123-4567</a>
                        </li>
                        <li>
                            <a href="/" class="uk-link-muted">Payment Options</a>
                        </li>
                        <li>
                            <a href="/" class="uk-link-muted">Track Your Order </a>
                        </li>
                        <li>
                            <a href="/" class="uk-link-muted">Shipping & Delivery</a>
                        </li>
                        <li>
                            <a href="/" class="uk-link-muted">Returns & Exchange</a>
                        </li>
                        <li>
                            <a href="/" class="uk-link-muted">Size Guide</a>
                        </li>
                        <li>
                            <a href="/" class="uk-link-muted">Style Expert</a>
                        </li>
                        <li>
                            <a href="/" class="uk-link-muted">Feedback</a>
                        </li>
                        <li>
                            <a href="/" class="uk-link-muted">Accessibility</a>
                        </li>
                        <li>
                            <a href="/" class="uk-link-muted">The Loyalty Club</a>
                        </li>
                    </ul>
                </div>
                <div class="uk-margin-medium-top">
                    <h3 class="uk-text-bold">CONNECT</h3>
                    <p>
                        <a href='https://www.youtube.com/' class="uk-margin-small-right uk-icon-button" aria-label="youtube link" target='_blank' rel="noopener noreferrer" [title]="'@' + storeName" uk-icon="icon: youtube" uk-tooltip="pos: left"></a>
                        <a href='https://www.twitter.com/' class="uk-margin-small-right uk-icon-button" aria-label="twitter link" target='_blank' rel="noopener noreferrer" [title]="'@' + storeName" uk-icon="icon: twitter" uk-tooltip="pos: top"></a>
                        <a href='https://www.facebook.com/groups/' class="uk-margin-small-right uk-icon-button" aria-label="facebook group link" rel="noopener noreferrer" target='_blank' [title]="'/group/' + storeName" uk-icon="icon: facebook" uk-tooltip="pos: bottom"></a>
                        <a href='https://www.instagram.com/' class="uk-margin-small-right uk-icon-button" aria-label="instagram link" target='_blank' rel="noopener noreferrer" [title]="'@' + storeName" uk-icon="icon: instagram" uk-tooltip="pos: right"></a>
                    </p>
                </div>
            </div>
            <div>
                <h3 class="uk-text-bold">INFORMATION</h3>
                <ul class="uk-list">
                    <li>
                        <a href="/" class="uk-link-muted">About Us</a>
                    </li>
                    <li>
                        <a href="/" class="uk-link-muted">Careers</a>
                    </li>
                    <li>
                        <a href="/" class="uk-link-muted">Ambassadors</a>
                    </li>
                    <li>
                        <a href="/" class="uk-link-muted">Investors</a>
                    </li>
                    <li>
                        <a href="/" class="uk-link-muted">Press</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
