<div class="uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light uk-height-large" data-src="/assets/images/retail.jpeg" uk-img="">
    <h1>{{
        login ?
        'Welcome Back!'
        :
        'Welcome!'
    }}</h1>
</div>

<div class="uk-section uk-section-default">
    <div class="uk-container">
        <h3>Recommended For You</h3>
        <div class="uk-child-width-1-6@l uk-child-width-1-4@m uk-child-width-1-3@s" uk-grid="">
            <app-product-card *ngFor="let product of products" [product]="product"></app-product-card>
        </div>
    </div>
</div>