<div uk-alert="" class="uk-background-secondary" style="background-color: black; color: white; text-align: center">
    <p>This is a demo retail site.</p>
</div>
<div uk-sticky="" style="background-color: white; z-index: 980">
    <div class="nav" >
        <div class="uk-padding uk-padding-remove-vertical uk-clearfix">
            <div class="uk-float-left">
                    <a routerLink="" style="text-decoration: none"><h1 class='uk-text-lead uk-text-bolder uk-margin-small-top'>{{storeName}}</h1></a>
            </div>
            <div class="uk-float-right">
                    <div class="uk-search uk-search-default">
                        <span uk-search-icon=""></span>
                        <input
                        class="uk-search-input"
                        placeholder="Search..."
                        (keyup.enter)="goToSearch($event)" />
                    </div>
                    <button
                    class="uk-margin-left uk-button uk-button-text"
                    style="font-size: small"
                    (click)="login()"
                    >
                        <ng-template *ngIf="signedIn; then sign_out; else sign_in"></ng-template>
                        <ng-template #sign_out>SIGN OUT</ng-template>
                        <ng-template #sign_in>SIGN IN</ng-template>
                    </button>
                    <a routerLink="bag" class="uk-margin notification uk-link-muted">
                        <span class="uk-margin-left" uk-icon="icon: lock; ratio: 1.25"></span>
                        <span *ngIf="bagSize" class="badge">{{bagSize}}</span>
                    </a>
            </div>
        </div>
        <nav class="uk-navbar-container uk-light" uk-navbar="" style="position: relative; z-index: 980">
            <div class='uk-navbar-center'>
                <ul class="uk-navbar-nav uk-visible@s">
                    <ng-container *ngFor="let category of categories">
                        <li *ngIf="category.category.name !== 'CATEGORY'">
                            <a [routerLink]="['/product']" [queryParams]="{category: category.category.name}" class="uk-button uk-button-text" style="color:white">{{category.category.name}}</a>
                            <div *ngIf="category.category.subcategories.length > 0" class="uk-navbar-dropdown" uk-drop="pos: bottom-justify; boundary: nav; boundary-align: true; offset: -1;">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li *ngFor="let sub of category.category.subcategories"><a [routerLink]="['/product']" [queryParams]="{category: category.category.name, subcategory: sub.name}">{{sub.name}}</a></li>
                                </ul>
                            </div>
                        </li>
                    </ng-container>
                </ul>
                <div class="uk-navbar-right uk-hidden@s"><button class='uk-navbar-toggle' uk-navbar-toggle-icon=""
                                                                uk-toggle="target: #offcanvas-navbar"></button></div>
            </div>
        </nav>
    </div>
</div>
