<title>Home - Store</title>
<div class="uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light uk-height-large" data-src="https://storage.googleapis.com/retail-site-app-engine/retail.jpeg" uk-img="">
    <h1>
        {{
            recentlyViewed.length > 0 ?
            'Welcome Back!'
            :
            'Welcome!'
        }}
    </h1>
</div>

<div class="uk-section uk-section-default">
    <div *ngIf="recentlyViewed.length > 0">
        <div class="uk-container">
            <h3>Recommended For You</h3>
            <div class="uk-slider-container-offset" uk-slider="autoplay: true">
                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
                    <ul class="uk-slider-items uk-child-width-1-6@l uk-child-width-1-4@m uk-child-width-1-3@s uk-grid">
                        <li *ngFor="let rec of products">
                            <app-product-card  [product]="rec"></app-product-card>
                        </li>
                    </ul>
                    <a style="color: black;" class="uk-position-center-left-out uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a style="color: black;" class="uk-position-center-right-out uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
                </div>
            </div>
        </div>
        <div class="uk-container">
            <h3>Recently Viewed</h3>
            <div class="uk-slider-container-offset" uk-slider="autoplay: true">
                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
                    <ul class="uk-slider-items uk-child-width-1-6@l uk-child-width-1-4@m uk-child-width-1-3@s uk-grid">
                        <li *ngFor="let rec of recentlyViewed">
                            <app-product-card  [product]="rec"></app-product-card>
                        </li>
                    </ul>
                    <a style="color: black;" class="uk-position-center-left-out uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a style="color: black;" class="uk-position-center-right-out uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="recentlyViewed.length === 0">
        <div class="uk-container">
            <h3>Customer Favorites</h3>
            <ul class="uk-child-width-1-6@l uk-child-width-1-4@m uk-child-width-1-3@s uk-grid">
                <li *ngFor="let rec of products">
                    <app-product-card  [product]="rec"></app-product-card>
                </li>
            </ul>
        </div>
    </div>
</div>
