<ul class="uk-breadcrumb" style="margin: 10px">
    <li><a [href]="'/search?category=' + product.CATEGORY">{{product.CATEGORY}}</a></li>
    <li><a [href]="'/search?category=' + product.CATEGORY + '&subcategory=' + product.SUB_CATEGORY">{{product.SUB_CATEGORY}}</a></li>
    <li><span>{{product.NAME}}</span></li>
</ul>
<div class="uk-section uk-section-default" style="margin: 10px; padding-left: 100px; padding-right: 100px">
    <div class="uk-child-width-1-2" uk-grid="">
        <div>
            <img [src]="product.IMAGE_LINK" [alt]="product.NAME" width="100%">
        </div>
        <div>
            <div class="uk-child-width-1-2" uk-grid="">
                <div>
                    {{product.COMPANY}}
                    <h3 class="uk-text-large uk-text-bold uk-margin-remove">{{product.NAME}}</h3>
                    <ng-template *ngIf="product.DISCOUNT; then discount; else regular"></ng-template>
                    <ng-template #discount>
                        <h3 class="uk-text-large uk-text-bold uk-margin-remove"><del>${{product.PRICE}}</del> <span class="uk-text-danger">${{product.DISCOUNT}}</span></h3>
                    </ng-template>
                    <ng-template #regular>
                        <h3 class="uk-text-large uk-text-bold uk-margin-remove">${{product.PRICE}}</h3>
                    </ng-template>
                        
                    <p class="uk-text-small uk-margin-remove">{{colorSelection}}</p>
                        <span class="circle" [style.background-color]="product['COLOR']" (click)="setColor(product['COLOR'])">
                            <span class="circle_inner" [class.active]="colorSelection === product['COLOR']"></span>
                        </span>
                    <p class="uk-text-small uk-margin-remove">size: {{sizeSelection}}</p>
                        <span class="sizeCircle" [class.active]="sizeSelection === product['SIZE']" (click)="setSize(product['SIZE'])">
                            <span class="innerCircle">{{product['SIZE']}}</span>
                        </span>
                        <p class="uk-text-small uk-margin-remove"><button class="uk-button uk-button-link uk-link-muted">size chart</button>
                    </p>
                </div>
            </div>
            <button class="uk-button uk-button-secondary uk-width-1-1 uk-margin-top" (click)="addBag()">
                Add to Bag
            </button>
            <p class="uk-text-bold" style="color: #333; font-size: 1.25rem">Description</p>
                <p class="">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit.</p>
            <ul uk-accordion="multiple: true">
                <li>
                    <span class="uk-accordion-title uk-text-bold" style="cursor: pointer">Reviews</span>
                    <div class="uk-accordion-content">
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit.</p>
                    </div>
                </li>
            </ul>
            <p class="uk-text-bold"  style="color: #333; font-size: 1.25rem">Frequently Bought Together</p>
            <div class="uk-child-width-1-3" uk-grid="">
                <app-product-card *ngFor="let rec of product.bought_together" [product]="rec"></app-product-card>
            </div>
        </div>
    </div>
</div>

<div class="uk-section uk-section-default" style="margin: 10px; padding-left: 40px; padding-right: 40px">
    <div class="uk-container">
        <h3 class="uk-text-bold">Recommended For You</h3>
        <div class="uk-child-width-1-6@l uk-child-width-1-4@m uk-child-width-1-3@s" uk-grid="">
            <app-product-card *ngFor="let rec of product.recommended" [product]="rec"></app-product-card>
        </div>
    </div>
</div>
<div class="uk-section uk-section-default" style="margin: 10px; padding-left: 40px; padding-right: 40px">
    <div class="uk-container">
        <h3 class="uk-text-bold">Recently Viewed</h3>
        <div class="uk-child-width-1-6@l uk-child-width-1-4@m uk-child-width-1-3@s" uk-grid="">
            <app-product-card *ngFor="let rec of recently_viewed" [product]="rec"></app-product-card>
        </div>
    </div>
</div>