<a [routerLink]="'/product/' + product.ID" class="uk-link-text" style="text-decoration: none; color: black">
    <div class="uk-text-center">
        <img [src]="product.IMAGE_LINK" [alt]="product.NAME" style="max-height: 150px;width: auto;">
        <p class="uk-margin-remove-bottom uk-text-bold">{{product.NAME}}</p>
        <p class="uk-margin-remove-bottom uk-margin-remove-top">{{product.COMPANY}}</p>
        <ng-template *ngIf="product.DISCOUNT; then discount; else regular"></ng-template>
        <ng-template #discount>
            <p class="uk-text-bold uk-margin-remove-top">
                <del>${{product.PRICE}}</del> <span class="uk-text-danger">${{product.DISCOUNT}}</span>
            </p>
        </ng-template>
        <ng-template #regular>
            <p class="uk-margin-remove-top">${{product.PRICE}}</p>
        </ng-template>
    </div>
</a>