<title>
    {{
        subCategory ?
        subCategory :
        parentCategory ?
        parentCategory :
        query ?
        query :
        'Search'
    }} - Store
</title>
<div>
    <ul class="uk-breadcrumb" style="margin: 10px">
            <li *ngIf="parentCategory"><a (click)="scrollToTop()" [routerLink]="['/product']" [queryParams]="{category: parentCategory}">{{parentCategory}}</a></li>
            <li *ngIf="subCategory"><a (click)="scrollToTop()" [routerLink]="['/product']" [queryParams]="{category: parentCategory, subcategory: subCategory}">{{subCategory}}</a></li>
    </ul>
    <div class="uk-margin-large-bottom uk-margin-large-right" uk-grid="">
        <div class="uk-margin-left uk-width-1-4">
            <h1>
                {{
                    query ?
                    query
                    : subCategory ?
                    subCategory
                    : parentCategory ?
                    parentCategory
                    : 'Search'
                }}
            </h1>
            <p class="uk-text-bold" style="border-bottom:calc(0.2px + 0.05em) solid #e5e5e5; width: 100%; margin-bottom:1px">category</p>
            <div>
                <ul class="uk-nav uk-nav-default">
                    <ng-template *ngIf="subCategory; then yes; else no"></ng-template>
                    <ng-template #yes>
                        <li>
                            <a class="uk-text-bold" (click)="scrollToTop()"
                            [routerLink]="['/product']" [queryParams]="{category: parentCategory}"
                            >
                            view all {{parentCategory}}
                            </a>
                        </li>
                    </ng-template>
                    <ng-template #no>
                        <ng-container *ngIf="parentCategory; then list; else none"></ng-container>
                    </ng-template>
                    <ng-template #list>
                        <li *ngFor="let subcategory of entireCategory.category['subcategories']">
                            <a (click)="scrollToTop()"
                                [routerLink]="['/product']" [queryParams]="{category: parentCategory, subcategory: subcategory.name}"
                                [class.uk-active]="subCategory === subcategory.name"
                            >
                            {{subcategory.name}}
                            </a>
                        </li>
                    </ng-template>
                    <ng-template #none>
                        <ng-container *ngFor="let category of categories">
                            <li class="uk-parent" *ngIf="category.category.name !== 'CATEGORY'">
                                <a (click)="scrollToTop()" [routerLink]="['/product']" [queryParams]="{category: category.category.name}">{{category.category.name}}</a>
                                <ul class="uk-nav-sub">
                                    <li *ngFor="let subcategory of category.category['subcategories']"><a (click)="scrollToTop()" [routerLink]="['/product']" [queryParams]="{category: category.category.name, subcategory: subcategory.name}">{{subcategory.name}}</a></li>
                                </ul>
                            </li>
                        </ng-container>
                    </ng-template>
                </ul>
            </div>
        </div>
        <div class="uk-width-expand uk-margin-right" style="margin-top: 70px">
            <div style="border-bottom:calc(0.2px + 0.05em) solid #e5e5e5; width: 100%">
                <div uk-form-custom="target: > * > span:first-child">
                    <select
                    (change)="selectBrand($event)"
                    >
                        <option *ngFor="let brand of brands" [value]="brand.BRAND">{{brand.BRAND}}</option>
                    </select>
                    <button class="uk-button uk-button-text" type="button" tabIndex="-1">
                        <span></span>
                        <span uk-icon="icon: chevron-down"></span>
                    </button>
                </div>
            </div>
            <div uk-grid="" class="uk-child-width-1-4@l uk-child-width-1-2@m uk-child-width-1-1@s uk-margin-top">
                <ng-container *ngIf="loading">
                    <div className="uk-padding uk-text-center uk-width-xlarge"><span uk-spinner="ratio: 4.5"></span></div>
                </ng-container>
                <ng-container *ngIf="!loading">
                    <app-product-card  *ngFor="let product of itemsInView"[product]="product"></app-product-card>
                </ng-container>
            </div>
            <ul class="uk-pagination uk-flex-center" uk-margin>
                <li *ngIf="page - 1 > -1"><a (click)="scrollToTop()" [routerLink]="['/product']" [queryParams]="{category: parentCategory, subcategory: subCategory, page: page - 1, brand: brand}"><span uk-pagination-previous></span></a></li>
                <li *ngIf="page - 1 > -1"><a (click)="scrollToTop()" [routerLink]="['/product']" [queryParams]="{category: parentCategory, subcategory: subCategory, page: page - 1, brand: brand}">{{page}}</a></li>
                <li class="uk-active"><span>{{page + 1}}</span></li>
                <li *ngIf="page+1 < numPages"><a (click)="scrollToTop()" [routerLink]="['/product']" [queryParams]="{category: parentCategory, subcategory: subCategory, page: page + 1, brand: brand}">{{page + 2}}</a></li>
                <li *ngIf="page+2 < numPages"><a (click)="scrollToTop()" [routerLink]="['/product']" [queryParams]="{category: parentCategory, subcategory: subCategory, page: page + 2, brand: brand}">{{page + 3}}</a></li>
                <li *ngIf="page+3 < numPages" class="uk-disabled"><span>...</span></li>
                <li *ngIf="page !== numPages"><a (click)="scrollToTop()" [routerLink]="['/product']" [queryParams]="{category: parentCategory, subcategory: subCategory, page: numPages, brand: brand}">{{numPages + 1}}</a></li>
                <li *ngIf="page < numPages"><a (click)="scrollToTop()" [routerLink]="['/product']" [queryParams]="{category: parentCategory, subcategory: subCategory, page: page + 1, brand: brand}"><span uk-pagination-next></span></a></li>
            </ul>

        </div>
    </div>
</div>
